{
	auto_https off
}

:80 {
	root * /var/www/html
	handle /wordpress {
		reverse_proxy wordpress:80
	}
	handle /wordpress/* {
		reverse_proxy wordpress:80
	}
	handle /mediawiki {
		reverse_proxy mediawiki:80
	}
	handle /mediawiki/* {
		reverse_proxy mediawiki:80
	}
	handle /docs {
		reverse_proxy docs:80
	}
	handle /docs/* {
		reverse_proxy docs:80
	}
	handle /inventree {
		reverse_proxy inventree:80
	}
	handle /inventree/* {
		reverse_proxy inventree:80
	}
	handle /attend {
		reverse_proxy attend:3000
	}
	handle /attend/* {
		reverse_proxy attend:3000
	}
	file_server {
		hide hidden
	}
}
